<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Candidate admission prediction </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> GMAT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  <input type="text", name='a', placeholder="enter 1"> <br><br>
            GPA   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  <input type="text", name='b', placeholder="enter 2"> <br><br>
            WORK EXPERIENCE &nbsp;: <input type="text", name='c', placeholder="enter 3"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>



    </center>

    </body>
</html>
